import(fields)
import(rTensor)
import(plot3D)
import(tagcloud)
import(ggplot2)

importFrom(grDevices, dev.off, png)
importFrom(methods, is)
importFrom(MASS, ginv)
importFrom(stats, runif, sd, rpois, median)
importFrom(graphics, layout, plot.new)
importFrom("stats", "as.dist", "cophenetic", "cor", "hclust")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")

export(
    toyModel,
    NMF,
    siNMF,
    jNMF,
    plotTensor3D,
    plotTensor2D,
    recTensor,
    NTD,
    NTF,
    plot.NMF,
    GabrielNMF,
    kFoldMaskTensor
	)

S3method(plot, NMF)
